<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Rotation Period</th>
            <th>Orbital Period</th>
            <th>Diameter</th>
            <th>Climate</th>
            <th>Gravity</th>
            <th>Terrain</th>
            <th>Surface Water</th>
            <th>Population</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let planet of planetsArray; let i = index">
            <td>
                <a [routerLink]="['/planets', i + 1]">    
                {{planet.name}}</a>
            </td>
            <td>{{planet.rotation_period}}</td>
            <td>{{planet.orbital_period}}</td>
            <td>{{planet.diameter}}</td>
            <td>{{planet.climate}}</td>
            <td>{{planet.gravity}}</td>
            <td>{{planet.terrain}}</td>
            <td>{{planet.surface_water}}</td>
            <td>{{planet.population}}</td>
        </tr>
    </tbody>
</table>
  
<div *ngIf="dataAvailable">
    <highcharts-chart
        [Highcharts] = "highcharts" 
        [options] = "chartOptions" 
        style = "width: 100%; height: 400px; display: block;">
    </highcharts-chart>
</div>  
