<br>
<!-- If statement makes sure api data loads before loading the page -->
<!-- <div *ngIf="dataAvailable"> -->
    <div *ngIf = "peopleArray">
        <people-line-column-chart [peopleArray]=peopleArray></people-line-column-chart>
    </div>

    <br>

    <mat-divider></mat-divider>

    <br>
    <!-- Div that holds three cards that flex across the the page in the same row -->
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
        <mat-card fxFlex="33">
            <!-- Pie chart that displays the height of each character as a percentage of total character height -->
            <div *ngIf = "peopleArray">
                <people-pie-chart [peopleArray]=peopleArray></people-pie-chart>
            </div>
        </mat-card>
        <mat-card fxFlex="33">
            <!-- 3D pie chart that displays the characters sex by percentage -->
            <div *ngIf = "peopleArray">
                <people-three-d-pie-chart [peopleArray]=peopleArray></people-three-d-pie-chart>
            </div>
        </mat-card>
        <mat-card fxFlex="33">
            <div *ngIf = "peopleArray">
                <people-donut-chart [peopleArray]=peopleArray></people-donut-chart>
            </div>
        </mat-card>
    </div>

    <br>

    <mat-divider></mat-divider>

    <br>
    <!-- Div that displays a table and chart side by side -->

    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="40px">
        <!-- Table takes up 60% of the width -->
        <div fxFlex="60">
            <div *ngIf = "peopleArray">
                <people-table [peopleArray]=peopleArray></people-table>
            </div>
        </div>
        <!-- Chart takes up 40% of the width -->
        <div fxFlex="40">
            <div *ngIf = "peopleArray">
                <people-column-d-chart [peopleArray]=peopleArray></people-column-d-chart>
            </div>
        </div>
    </div>
<!-- </div> -->
