<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Height</th>
            <th>Mass</th>
            <th>Hair Color</th>
            <th>Skin Color</th>
            <th>Eye Color</th>
            <th>Birth Year</th>
            <th>Gender</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let person of peopleArray; let i = index">
            <td>
                <a [routerLink]="['/people', i + 1 ]">    
                {{person.name}}</a>
            </td>
            <td>{{person.height}}</td>
            <td>{{person.mass}}</td>
            <td>{{person.hair_color}}</td>
            <td>{{person.skin_color}}</td>
            <td>{{person.eye_color}}</td>
            <td>{{person.birth_year}}</td>
            <td>{{person.gender}}</td>
        </tr>
    </tbody>
  </table>
  <div *ngIf="dataAvailable">
        <highcharts-chart
            style="width: 45%; display: block; margin: auto; float: left"
            [Highcharts] = "highcharts" 
            [options] = "chartOptions[0].chartConfig" 
            style = "width: 100%; height: 400px; display: block;">
        </highcharts-chart>
        <highcharts-chart
            style="width: 45%; display: block; margin: auto; float: left"
            [Highcharts] = "highcharts" 
            [options] = "chartOptions[1].chartConfig" 
            style = "width: 100%; height: 400px; display: block;">
        </highcharts-chart>
  </div>